/* Selector de Tipo */
p {
    color: #ece8eb;
    font-size: 20px;
}

h1 {
    color : rgb(85, 124, 180);
    font-size: 40px
}

h2 {
    color: rgb(97, 116, 213);
    font-size: 30px;
}

h3 {
    color: rgb(65, 115, 190);
    font-size: 20px;
}

/* Selector de Clase */
.colorAzul {
    color: #940e5a;
}

/* Selector de Tipo */
#especial {
    color: palevioletred;
    font-size: 40px;
}

body {
    background-color: rgb(153, 179, 194);
}

.contenedor-slider {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.slider-screen {
    width: 100%;
    padding: 20px 40px;
}

.slider-screen img {
    width: 100%;
    height: 500px;
    object-fit: cover;
} 

#slider-arrow { 
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 60px; 
}

.slider-izquierdo, .slider-derecho {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(105, 105, 105, 0.3); 
}

.slider-izquierdo img, .slider-derecho img {
    width: 20px;
    height: 20px;
}
